/* Fonts */
@font-face {
    font-family: "Ahellya";
    src: url("../fonts/Ahellya.ttf") format("truetype");
}

@font-face {
    font-family: "Ahellya_Italic";
    src: url("../fonts/Ahellya-Italic.ttf") format("truetype");
}

nav ul li .dropdown {
    display: none;
    position: absolute;
    left: 100%;
    top: 25%;
    background-color: #444;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 10;
    min-width: 120px;
}

/* links inside dropdown */
nav ul li .dropdown li {
    line-height: 1.2;
    margin-top: 10px;
    color: white;
    background-color: #444;
    font-family: "Ahellya", sans-serif;
}

nav ul li a:hover {
    font-family: "Ahellya_Italic", sans-serif;
    color: #007a06;
}


nav ul li:hover .dropdown {
    display: block;
}