@font-face {
    font-family: "Ahellya";
    src: url("../fonts/Ahellya.ttf") format("truetype");
}

@font-face {
    font-family: "Ahellya_Italic";
    src: url("../fonts/Ahellya-Italic.ttf") format("truetype");
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ededed;
}

.content {
    padding: 20px;
    text-align: center;
    margin-left: 175px;
}

/* list style */
.content_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.content_list li {
    margin-bottom: 15px;
    text-decoration: underline;
    text-decoration-color: #6a8792;
    text-underline-offset: 5px;
    margin-bottom: 20px;
}

.content_list li a {
    font-family: "Ahellya", sans-serif;
    color: #323232; 
    font-weight: bold;
    text-decoration: none;
}

.line {
    width: 90%;
    height: 2px; 
    margin-top: 0px;
    background-color: #006c05;
    margin-left: auto;
    margin-right: auto;
}

ul.home {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

/* General formatting */
h1 {
    color: #006605;
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 70px;
    margin-top: 50px;
}

h2 {
    font-family: "Ahellya", sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
    text-decoration-color: #006605;
    text-underline-offset: 5px;
    margin-bottom: 30px;
    color: #323232;
}

h3 {
    font-family: "Ahellya", sans-serif;
    font-size: 20px;
    color: #006605;
}


p {
    font-family: "Ahellya", sans-serif;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 40px;
    color: #323232;
}
